.body {
    background: $colorWhite;
    color: $colorPrimary;
    font-family: $fontMain; 
    letter-spacing: 0.03em;
}
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
@media screen and (min-width: 480px) {
    .container{
        width: 480px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 768px) {
    .container{
        width: 768px;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}
.visualy-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden; 
}