/* Герой */

.hero {
    background-color: #C4C4C4;
    height: 400px;
    max-width: 768px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ), url(../../images/hero-fon.jpg);
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero__title {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 30px;
}
@media screen and (min-width: 768 px) {
    .hero {
        background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
         ), url(../../images/hero-fon.jpg);
  }
}
@media screen and (min-width: 1200px) {
    .hero {
        height: 600px;
        max-width: 1600px;
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ), url(../../images/hero-fon.jpg);
    }
    .hero__title {
        font-size: 44px;
        line-height: 1.36;
    }
}


