$colorWhite: #FFFFFF;
$colorBlue: #2196F3;
$colorTitle: #212121;
$colorPrimary: #757575;
$colorBorder: #ECECEC;
$colorBackground: #F5F4FA;
$colorGray: #AFB1B8;
$fontMain: Roboto, sans-serif;
$fontLogo: Raleway, sans-serif;